/GuessTheNumber/nbproject/private/
/GuessTheNumber/build/
/Age/nbproject/private/
/Person/nbproject/private/
/Person/build/
/LoopPractice/nbproject/private/
/LoopPractice/build/
/DictionaryPractice/nbproject/private/
/DictionaryPractice/build/
/RecursionGoodLuck/nbproject/private/
/RecursionGoodLuck/build/
/2dArray/nbproject/private/
/2dArray/build/
/LibraryCatalogue/nbproject/private/
/LibraryCatalogue/build/
/animal/nbproject/private/
/animal/build/
/Inheritance/nbproject/private/
/Inheritance/build/
/AbstractClass/nbproject/private/
/AbstractClass/build/
/CalendarPractice/nbproject/private/
/CalendarPractice/build/
/Scope/nbproject/private/
/Scope/build/
/LinkedList/nbproject/private/
/LinkedList/build/
/LinkedListPractice/nbproject/private/
/LinkedListPractice/build/
/ExceptionsPractice/nbproject/private/
/ExceptionsPractice/build/
/StringToIntExceptionHandling/nbproject/private/
/StringToIntExceptionHandling/build/
/HotChocolate/nbproject/private/
/HotChocolate/build/